@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,500&display=swap');

body {
    font-family: "Bai Jamjuree", sans-serif;
    background: #f5f5f5;
    padding: 0;
    margin: 0;
}

.parallax {
    background-image: url("https://s3.eu-west-1.amazonaws.com/impact-shop-images.ecologi.com/impact-shop-products/Forests_and_landscapes_fund.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}


.container img {
    width: 100%;
    height: auto;
}

.container {
    height: fit-content;
    background: white;
    padding: 2%;
    max-width: 850px;
    margin: -600px auto 40px auto;
    line-height: 1.5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

}

.content {
    text-indent: 2em;
    font-size: 18px;
    padding: 2rem;
}

h1,
h2 {
    text-indent: 0.5em;

}

h1 {
    font-size: 32px;
    text-align: right;
    padding-right: 1rem;
}

h2 {
    font-size: 24px;
}

.classify {
    list-style-type: none;
    background: #f5f5f5;
    padding: 2rem;
    line-height: 1.5;
    font-size: 18px;
}

.classify li {
    margin: 8px 0;
}



@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 0.98rem;
        margin: -200px auto 40px auto;
    }

    .classify {
        font-size: 16px;
        padding: 1.5rem;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {

    .container {
        width: 90%;
        padding: 0.5rem;
        margin: -400px auto 40px auto;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .content {
        font-size: 14.5px;
    }

    .classify {
        padding: 1rem;
        font-size: 14.5px;
    }
}